@model IEnumerable<AppUser>
<div class="alert alert-light" role="alert">
    <div class="card text-center">
        <div class="card-header">Мой профиль</div>
        <div class="card-body">
            <h5 class="card-title">@ViewBag.UserOnline.FullName</h5>
            <ul class="list-group list-group-flush text-left">
                <li class="list-group-item">Имя пользователя: @ViewBag.UserOnline.UserName</li>
                <li class="list-group-item">E-mail: @ViewBag.UserOnline.Email</li>
                @if (ViewBag.UserOnline.ManagerId != null)
                {
                    <li class="list-group-item">Менеджер: @ViewBag.UserOnline.ManagerFullName</li>
                }
                else
                {
                    <li class="list-group-item">Менеджер: Не назначен</li>
                }

            </ul>
        </div>
    </div>
</div>
<div class="alert alert-light" role="alert">
    <a class="btn btn-block btn-outline-secondary"
       asp-action="Index"
       asp-controller="MyOrders"
       asp-route-respuser=""
       asp-route-sortTime="all"
       asp-route-orderPage="1">
        Мои задачи
    </a>
</div>
@if (Model.Count() != 0)
{
    <div class="alert alert-light" role="alert">
        <a class="btn btn-block btn-outline-secondary"
           asp-action="Index"
           asp-controller="MyTeamOrders"
           asp-route-respuser=""
           asp-route-sortTime="all"
           asp-route-orderPage="1">
            Мой коллектив
        </a>

        @foreach (AppUser respuser in Model)
        {
            <a class="btn btn-block @( respuser.UserName == ViewBag.SelectedRespUser ? "btn-primary" : "btn-light" ) "
               asp-action="Index"
               asp-controller="MyTeamOrders"
               asp-route-respuser="@respuser"
               asp-route-sortTime="all"
               asp-route-orderPage="1">
                @respuser.FullName
            </a>
        }
    </div>
}

    @if (ViewBag.IsAdmin)
    {
    <div class="alert alert-light" role="alert">
    <div class="card text-center">
        <div class="card-header">Администрирование</div>
        <div class="card-body">
            <a class="btn btn-block btn-outline-secondary"
               asp-action="Index"
               asp-controller="Admin">
                Администрирование
            </a>
            <a class="btn btn-block btn-outline-secondary"
               asp-action="Index"
               asp-controller="RoleAdmin">
                Группы пользователей
            </a>
        </div>        
    </div>
    </div>
    }
